{
  "organizeImportsSkipDestructiveCodeActions": true,
  "singleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.scss",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
